<%= form_for(@misaki, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <p>Q1.酸味は？</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>少ない</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>強い</p>
            </div>

            <div class="col-12">
                <p>Q2.コクは？</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>深め</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>浅い</p>
            </div>
        </div>
    </div>
    <div class="sindanbotan">
        <%= f.submit "結果" %>
    </div>
<% end %>
